.body {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    gap: 15px;
    background-color: #ffffff;
    overflow: hidden!important;
    position: relative;
    * {
      color: var(--color-blue);
      background-color: #ffffff;
      margin: auto;
    }
  }

  .img{
    margin: 0;
  }

  .texts{
    position: absolute;
    top:80%;
    left: 210px;
    padding: 15px 30px;
  }